{% block map %}
    {% load staticfiles %}
    <link href="{% static 'homepage/css/map-style.css' %}" rel="stylesheet">
    <script src="{% static 'homepage/js/markerclusterer.js' %}"></script>

    <script type="text/javascript">
        var overlays = [];
        var current_markers = [];
        var current_clusters = [];
        var current_iw = [];
        var map;
        var globalZIndex = 1;
        var MB;
        var move = false;
        var centroid;
        var iwcontent;
        var max_p = 1000000;
        var classes = ['slider-color', 'default-color'];
        var scatter_data;
        var hist_dict;
        var lobf_coef;
        var calcArea = 'map';
        var bad_data = 'true';
        var zoom_warning = false;
        var areaSecond = 'ireland';
        var coloured_markers;
        var lu;
        var markerCluster;


        function getCalcArea(){
            if (document.getElementById("sc-5-1-1").checked == true) {
                return 'map'
            } else if (document.getElementById("sc-5-1-2").checked == true) {
                return 'radius'
            } else if (document.getElementById("sc-5-1-3").checked == true) {
                return 'county'
            } else if (document.getElementById("sc-5-1-4").checked == true) {
                return 'region'
            } else if (document.getElementById("sc-5-1-5").checked == true) {
                return 'country'
            }
        }

        function getColor(date){
            rat = date / ((end_date - start_date) / 1000);

            if (rat < 1/8){
                return '#74a9cf';
            } else if (rat < 2/8){
                return '#8899bc';
            } else if (rat < 3/8){
                return '#978aa8';
            } else if (rat < 4/8){
                return '#a17a96';
            } else if (rat < 5/8){
                return '#a96884';
            } else if (rat < 6/8){
                return '#ae5672';
            } else if (rat < 7/8){
                return '#b14261';
            } else {
                return '#b32650';
            }
        }

        function plotPoints(map, data){
            while(current_markers.length > 0) {
                current_markers.pop().setMap(null);
            }

            if (markerCluster.aAddClusterIcons != null){
                while(current_clusters.length > 0){
                    a = current_clusters.pop();
                    markerCluster.RemoveClusters(a[0], a[1], a[2]);
                }
            }

            if (data['cluster'] == 'true'){
                cluster_data = data['data'];
                for (var i = 0; i < cluster_data.length; i++){
                    if (data['data'][i][2] != 0) {
                        markerCluster.AddCluster(cluster_data[i][0], cluster_data[i][1], cluster_data[i][2]);
                        current_clusters.push([cluster_data[i][0], cluster_data[i][1], cluster_data[i][2]])
                    }
                }

                $('#scale-wrap').css('display', 'none');
                $('#map-options').css('justify-content', 'flex-end');
            } else {
                $('#scale-wrap').css('display', 'flex');
                $('#map-options').css('justify-content', 'space-between');

                m = lu.slice(3,5);
                y = lu.slice(6,10);

                var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "June",
                    "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
                m = monthNames[m - 1];

                $('#end-date').html(m + '-' + y);

                for(var i = 0; i < data.length; i++) {


                    var lat = parseFloat(data[i]['fields']['latitude']);
                    var lng = parseFloat(data[i]['fields']['longitude']);
                    var price = parseFloat(data[i]['fields']['price']);
                    var uid = data[i]['fields']['uid'];
                    var date = data[i]['fields']['sale_date'];

                    var pos = new google.maps.LatLng(lat, lng);
                    var iwpos = new google.maps.LatLng(lat + 0.00018, lng);

                    overlay_content =  "&euro;" + thousandsDisplay(price) + '<br />' +
                        "Click to see more";
                    if (coloured_markers != null) {
                        if (coloured_markers.indexOf(uid) > 0) {
                            opac = 1;
                            col = getColor(date);
                        } else {
                            opac = 0.8;
                            col = "#AAAAAA";
                        }
                    }

                    marker = new google.maps.Circle({
                        strokeColor: col,
                        strokeOpacity: opac,
                        strokeWeight: 10,
                        fillColor: col,
                        opacity: opac,
                        map: map,
                        clickable: true,
                        center: pos,
                        radius: 1,
                        overlay: new google.maps.InfoWindow({content:
                            overlay_content, position: iwpos}),
                        id: uid,
                        infowindow: new google.maps.InfoWindow({position: iwpos})
                    });

                    current_markers.push(marker);

                    google.maps.event.addListener(marker, 'mouseover', function() {
                        this['overlay'].open(map, this);
                    });

                    google.maps.event.addListener(marker, 'mouseout', function() {
                        this['overlay'].close(map, this);
                    });

                    google.maps.event.addListener(marker, 'click', function() {
                        this['overlay'].close(map, this);

                        while(current_iw.length > 0) {
                            current_iw.pop().setMap(null);
                        }

                        this['infowindow'].open(map, this);
                        current_iw.push(this['infowindow']);

                        mid = this.id;

                        $.ajax({
                            type: "GET",
                            url: "/ajax-response-infowindow/",
                            data: {'uid': mid},
                            async: true,
                            dataType: 'json',
                            success: function(data){

                                d = data[0]['fields'];

                                if (d['nfma'] == 'Yes'){
                                    nfma = 'No'
                                } else {
                                    nfma = 'Yes'
                                }

                                if (d['postcode'] == null){
                                    pc = ''
                                } else {
                                    pc = d['postcode'] + '<br />'
                                }

                                if (d['DoP'] == 'Second-Hand Dwelling house /Apartment'){
                                    dop = 'Second-Hand';
                                    vat = ''
                                } else {
                                    dop = 'New';
                                    vat = '<br />VAT Excluded: ' + d['vat_ex']
                                }

                                if (d['PSD'] != null){
                                    psd = '<br />Size Description: ' + d['PSD']
                                } else {
                                    psd = ''
                                }

                                y = d['sale_date'].slice(0,4);
                                m = d['sale_date'].slice(5,7);
                                day = d['sale_date'].slice(8,10);
                                if (day[0] == 0){
                                    day = day[1]
                                }
                                var monthNames = ["January", "February", "March", "April", "May", "June",
                                    "July", "August", "September", "October", "November", "December"];
                                m = monthNames[m - 1];

                                sd = day + '-' + m + '-' + y;

                                ad = d['address'].toLowerCase()
                                    .replace(function(){
                                        if (d['postcode'] != null) {
                                            return ', ' + d['postcode'].toLowerCase()
                                        } else {
                                            return ''
                                        }
                                    }, '')
                                    .replace(function(){
                                        if (d['postcode'] != null) {
                                            return ' ' + d['postcode'].toLowerCase()
                                        } else {
                                            return ''
                                        }
                                    }, '')
                                    .replace((d['county'] + ' City').toLowerCase(), '')
                                    .replace(('Co. ' + d['county']).toLowerCase(), '')
                                    .replace(('Co. ' + d['county']).toLowerCase(), '')
                                    .replace(('Co ' + d['county']).toLowerCase(), '')
                                    .replace(('Co.' + d['county']).toLowerCase(), '')
                                    .replace(', ' + d['county'].toLowerCase(), '')
                                    .replace(' ' + d['county'].toLowerCase(), '');

                                while (isNaN(parseInt(ad[ad.length - 1])) == false){
                                    ad = ad.slice(0, ad.length - 1)
                                }

                                if (ad[ad.length - 1].toLowerCase() == 'w' && ad[ad.length - 2] == 6){
                                    ad = ad.slice(0, ad.length - 2);
                                    if (d['postcode'] == null){
                                        pc = 'Dublin 6W <br />'
                                    }
                                }

                                while (ad[ad.length - 1] == ' ' || ad[ad.length - 1] == ',' || ad[ad.length - 1] == '.'){
                                    ad = ad.slice(0, ad.length - 1)
                                }

                                iwcontent = '<p><strong>' + ad + '<br />' +
                                    '&euro;' + thousandsDisplay(parseFloat(d['price'])) + '</strong></p>' +
                                    pc + 'Co. ' + d['county'] + '<br />' +
                                    'Date of Sale: ' + sd  + '<br />' +
                                    'Sold at Full Market Price: ' + nfma + '<br />' +
                                    'Property Condition: ' + dop + vat + psd + '<br /><br />' +
                                    '<p id="report-me">Something Wrong? <a id="report-btn">Report a map error</a></p>';

                                current_iw[0].setContent(iwcontent);

                                $('#report-btn').click(function () {
                                    var omessage = $('<p />', { text: 'Please outline any errors' }),
                                        admessage = $('<p />', { text: 'Error in Address: ' }),
                                        w_cont = $('<div class="e-cb-w" />'),
                                        a_cont = $('<div class="e-cb" />'),
                                        l_cont = $('<div class="e-cb" />'),
                                        d_cont = $('<div class="e-cb" />'),
                                        p_cont = $('<div class="e-cb" />'),
                                        b_cont = $('<div class="e-btn" />'),
                                        ad = $('<input type="checkbox" id="ad-error"/>'),
                                        locmessage = $('<p />', { text: 'Wrong Location: ' }),
                                        loc = $('<input type="checkbox" id="loc-error"/>'),
                                        datemessage = $('<p />', { text: 'Wrong Date of Sale: ' }),
                                        date = $('<input type="checkbox" id="date-error"/>'),
                                        pricemessage = $('<p />', { text: 'Wrong Price: ' }),
                                        pr = $('<input type="checkbox" row="4" id="price-error"/>'),
                                        input = $('<textarea placeholder="Anything else..." id="e-input"/>', { val: '' }),
                                        submit = $('<button id="e-submit">Submit</button>'),
                                        cancel = $('<button id="e-cancel">Cancel</button>');

                                        $('<div />').qtip({
                                            content: {
                                                text: omessage
                                                    .add(w_cont.append(a_cont.append(admessage).append(ad))
                                                            .append(l_cont.append(locmessage).append(loc))
                                                            .append(d_cont.append(datemessage).append(date))
                                                            .append(p_cont.append(pricemessage).append(pr))
                                                    )
                                                    .add(input)
                                                    .add(b_cont.append(submit).append(cancel)),
                                                title: 'Report Map Error'
                                            },
                                            position: {
                                                my: 'center', at: 'center',
                                                target: $(window)
                                            },
                                            show: {
                                                ready: true,
                                                modal: {
                                                    on: true,
                                                    blur: false
                                                }
                                            },
                                            style: {
                                                classes: 'diaglogue qtip-light qtip-rounded qtip-shadow',
                                                width: 400
                                            },
                                            hide: false,
                                            events: {
                                                render: function(event, api) {
                                                    $('button', api.elements.content).click(function(e) {
                                                        if (e.currentTarget.innerHTML == 'Submit'){

                                                            ade = (document.querySelector('#ad-error:checked') != null);
                                                            loce = (document.querySelector('#loc-error:checked') != null);
                                                            dae = (document.querySelector('#date-error:checked') != null);
                                                            pre = (document.querySelector('#price-error:checked') != null);
                                                            o_text = $('#e-input').val();

                                                            $.ajax({
                                                                type: "POST",
                                                                url: "/ajax-post-error/",
                                                                data: {'uid': mid, 'address-error': ade, 'location-error': loce,
                                                                    'date-error': dae, 'price-error': pre, 'text': o_text},
                                                                async: true,
                                                                dataType: 'json',
                                                                complete: function(){
                                                                    var thanks = $('<p id="e-thanks">Thanks!</p>'),
                                                                        gb = $('<p />', { text: "We'll look into this as soon as possible!" }),
                                                                        ok = $('<button id="e-ok">Ok</button>');

                                                                    $('<div />').qtip({
                                                                        content: {
                                                                            text: thanks.add(gb).add(ok),
                                                                            title: null
                                                                        },
                                                                        position: {
                                                                            my: 'center', at: 'center',
                                                                            target: $(window)
                                                                        },
                                                                        show: {
                                                                            ready: true,
                                                                            modal: {
                                                                                on: true,
                                                                                blur: false
                                                                            }
                                                                        },
                                                                        style: {
                                                                            classes: 'diaglogue qtip-light qtip-rounded qtip-shadow',
                                                                            width: 400
                                                                        },
                                                                        hide: false,
                                                                        events: {
                                                                            render: function(event, api) {
                                                                                $('button', api.elements.content).click(function(e) {
                                                                                    api.hide(e);
                                                                                });
                                                                            },
                                                                            hide: function(event, api) {
                                                                                api.destroy();
                                                                            }
                                                                        }
                                                                    });
                                                                }
                                                            });
                                                        }
                                                        api.hide(e);
                                                    });
                                                },
                                                hide: function(event, api) {
                                                    api.destroy();
                                                }
                                            }
                                        });
                                });
                            }
                        });
                    });
                }
            }

        }

        function ajax_update_markers(){
            var r = map.getBounds().getNorthEast().lng();
            var l = map.getBounds().getSouthWest().lng();
            var t = map.getBounds().getNorthEast().lat();
            var b = map.getBounds().getSouthWest().lat();

            $.ajax({
                type: "GET",
                url: "/ajax-response-markers/",
                data: {'right': r, 'left': l,
                    'top': t, 'bottom': b, 'zoom': map.getZoom()},
                async: true,
                dataType: 'json',
                success: function (data) {
                    plotPoints(map, data);
                }
            });
        }

        function ajax_update_stats(update){
            calcArea = getCalcArea();

            p_filter_top = Math.round(pSlider.noUiSlider.get()[1]);
            p_filter_bottom = Math.round(pSlider.noUiSlider.get()[0]);
            d_filter_top = Math.round(tSlider.noUiSlider.get()[1]);
            d_filter_bottom = Math.round(tSlider.noUiSlider.get()[0]);

            if (calcArea == 'map' || calcArea == 'radius'){
                getMapBounds(map);

                radius = document.getElementById("radius-selector").value;
                if (radius == ''){
                    radius = 1
                }

                data_to_send = {'calcArea': calcArea, 'right': MB[0], 'left': MB[1],
                    'top': MB[2], 'bottom': MB[3], 'radius': parseFloat(radius),
                    'price_high': p_filter_top, 'price_low': p_filter_bottom,
                    'date_high': d_filter_top, 'date_low': d_filter_bottom};

            } else {
                if (calcArea == 'county') {
                    areaSecond = document.getElementById("county-selector").value;
                } else if (calcArea == 'region') {
                    areaSecond = document.getElementById("region-selector").value;
                }

                data_to_send = {
                    'calcArea': calcArea, 'area': areaSecond,
                    'price_high': p_filter_top, 'price_low': p_filter_bottom,
                    'date_high': d_filter_top, 'date_low': d_filter_bottom,
                    'bad_data': bad_data
                }
            }

            $.ajax({
                type: "GET",
                url: "/ajax-response-stats/",
                data: data_to_send,
                async: true,
                dataType: 'json',
                beforeSend: function(){
                    {% load staticfiles %}
                    gif = '<img src="{% static 'homepage/media/loading.gif' %}">';

                    document.getElementById("average_price").innerHTML = '';
                    document.getElementById("median_price").innerHTML = '';
                    document.getElementById("price_range").innerHTML = '';
                    document.getElementById("date_range").innerHTML = gif;
                    document.getElementById("avg_date").innerHTML = '';
                    document.getElementById("avg_size").innerHTML = '';
                    document.getElementById("dem_age").innerHTML = '';
                    document.getElementById("pop").innerHTML = '';
                    document.getElementById("perc_oc").innerHTML = '';

                    document.getElementById("content-right").style.display = 'flex';
                    document.getElementById("content-right").style.justifyContent = 'space-around';
                    document.getElementById("content-right").style.alignContent = 'space-around';
                    document.getElementById("content-right").style.margin = 'auto';

                    document.getElementById('sc-5-1-1').setAttribute('disabled', true);
                    document.getElementById('sc-5-1-2').setAttribute('disabled', true);
                    document.getElementById('sc-5-1-3').setAttribute('disabled', true);
                    document.getElementById('sc-5-1-4').setAttribute('disabled', true);
                    document.getElementById('sc-5-1-5').setAttribute('disabled', true);
                },
                success: function (data) {
                    document.getElementById('sc-5-1-1').removeAttribute('disabled');
                    document.getElementById('sc-5-1-2').removeAttribute('disabled');
                    document.getElementById('sc-5-1-3').removeAttribute('disabled');
                    document.getElementById('sc-5-1-4').removeAttribute('disabled');
                    document.getElementById('sc-5-1-5').removeAttribute('disabled');

                    coloured_markers = data['shade'];
                    ajax_update_markers();

                    if (data['data'] == "Not Enough Data"){
                        document.getElementById("average_price").innerHTML = '';
                        document.getElementById("median_price").innerHTML = '';
                        document.getElementById("price_range").innerHTML = '';
                        document.getElementById("date_range").innerHTML = 'No data to display...';
                        document.getElementById("avg_date").innerHTML = '';
                        document.getElementById("avg_size").innerHTML = '';
                        document.getElementById("dem_age").innerHTML = '';
                        document.getElementById("pop").innerHTML = '';
                        document.getElementById("perc_oc").innerHTML = '';

                        update_graphs(svgL, svgR, xAxisL, xAxisR, yAxisL, yAxisR, yScaleL, yScaleR, xScaleL, xScaleR, divL, divR, true, lineL);
                    } else {
                        update_stats(data);

                        scatter_data = data['scatter_data'];

                        hist_dict = data['hist_data'];

                        lobf_coef = data['lobf_coef'];

                        if (update) {
                            update_graphs(svgL, svgR, xAxisL, xAxisR, yAxisL, yAxisR, yScaleL, yScaleR, xScaleL, xScaleR, divL, divR, false, lineL);
                        }
                        if (move == true){
                            update_graphs(svgL, svgR, xAxisL, xAxisR, yAxisL, yAxisR, yScaleL, yScaleR, xScaleL, xScaleR, divL, divR, false, lineL);
                            move = false;
                        }
                    }
                }
            });
        }

        function update_stats(data){
            max_p = data['max_price'];

            document.getElementById("average_price").innerHTML = '&euro;' +
            thousandsDisplay(data['ave_price']);

            document.getElementById("median_price").innerHTML = '&euro;' +
            thousandsDisplay(data['med_price']);

            document.getElementById("price_range").innerHTML = '&euro;' +
            thousandsDisplay(data['min_price']) + ' - &euro;' +
                thousandsDisplay(data['max_price']);

            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "June",
            "July", "Aug", "Sept", "Oct", "Nov", "Dec"];

            min_date = new Date(data['min_date']);
            avg_date = new Date(data['avg_date']);
            max_date = new Date(data['max_date']);
            avg_size = data['avg_size'];

            document.getElementById("date_range").innerHTML =
                monthNames[min_date.getUTCMonth()] + ' ' + min_date
                    .getUTCFullYear() + ' - ' +
                monthNames[max_date.getUTCMonth()] + ' ' + max_date
                    .getUTCFullYear();

            document.getElementById("content-right").style.display = '';
            document.getElementById("content-right").style.justifyContent = '';
            document.getElementById("content-right").style.alignContent = '';
            document.getElementById("content-right").style.margin = '';

            document.getElementById("avg_date").innerHTML =
                monthNames[avg_date.getUTCMonth()] + ' ' + avg_date
                    .getUTCFullYear();

            document.getElementById("avg_size").innerHTML = avg_size +
                " m<sup>2</sup>";

            document.getElementById("dem_age").innerHTML = data['dem_age'] + ' years';
            document.getElementById("pop").innerHTML = thousandsDisplay(data['population']);
            document.getElementById("perc_oc").innerHTML = data['perc_oc'] + ' %';
        }


        function drawMapEdges(map) {
            var rectCoords = [
                {lat: MB[2], lng: MB[0]},
                {lat: MB[2], lng: MB[1]},
                {lat: MB[3], lng: MB[1]},
                {lat: MB[3], lng: MB[0]},
                {lat: MB[2], lng: MB[0]}
            ];

            var viewRect = new google.maps.Polygon({
                paths: rectCoords,
                fillOpacity: 0.1,
                strokeColor: 'black',
                strokeOpacity: 0.7,
                strokeWeight: 3
            });

            overlays.push(viewRect);

            viewRect.setMap(map);
        }

        function getMapBounds(map){
            var r = map.getBounds().getNorthEast().lng();
            var l = map.getBounds().getSouthWest().lng();
            var t = map.getBounds().getNorthEast().lat();
            var b = map.getBounds().getSouthWest().lat();

            MB = [r, l, t, b];

            centroid = {lat: map.getCenter().lat(), lng: map.getCenter().lng()};
        }

        function drawRadius(map) {
            radius = document.getElementById("radius-selector").value;

            var viewCirc = new google.maps.Circle({
                fillOpacity: 0.1,
                strokeColor: 'black',
                strokeOpacity: 0.7,
                strokeWeight: 3,
                map: map,
                center: centroid,
                radius: radius * 1000,
                zIndex: globalZIndex++
            });

            overlays.push(viewCirc);

            viewCirc.setMap(map);
        }

        function getCountyEdges(county) {
            return "{% static 'homepage/ireland/counties/' %}" + county +
                ".geojson"
        }

        function getRegionEdges(region) {

            return "{% static 'homepage/ireland/regions/' %}" + region +
                ".geojson"
        }

        function getArea(area){
            if (area == 'county') {
                county = document.getElementById("county-selector").value;
                data = getCountyEdges(county);

            } else if (area == 'region') {
                region = document.getElementById("region-selector").value;
                data = getRegionEdges(region);

            } else if (area == 'country') {
                data = "{% static 'homepage/ireland/country.geojson' %}";
            }

            return data;
        }

        function drawTimeSlider(){
            var tSlider = document.getElementById('tSlider');

            noUiSlider.create(tSlider, {
                start: [start_date, end_date],
                step: 86400000,
                connect: [false, true, false],
                margin: 604800000,
                behaviour: 'tap',
                range: {
                    'min': [start_date],
                    'max': [end_date]
                }
            });

            var connect = tSlider.querySelectorAll('.noUi-connect');
            var classes = ['slider-color', 'default-color'];

            for ( var i = 0; i < connect.length; i++ ) {
                connect[i].classList.add(classes[i]);
            }

            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "June",
                "July", "Aug", "Sept", "Oct", "Nov", "Dec"];

            var timeValues = [
                document.getElementById('t-value-lower'),
                document.getElementById('t-value-upper')
            ];

            tSlider.noUiSlider.on('update', function( values, handle ) {
                time = new Date(Math.round(values[handle]));

                timeValues[handle].innerHTML = time.getDate() + '-' +
                    monthNames[time.getUTCMonth()] + '-' +
                            String(time.getUTCFullYear()).slice(2);
            });
        }

        function drawPriceSlider(){
            minPrice = 0;
            maxPrice = max_p;

            var pSlider = document.getElementById('pSlider');

            noUiSlider.create(pSlider, {
                start: [minPrice, maxPrice],
                step: 10000,
                connect: [false, true, false],
                margin: 10000,
                behaviour: 'tap',
                range: {
                    'min': [minPrice],
                    'max': [maxPrice]
                }
            });

            var connect = pSlider.querySelectorAll('.noUi-connect');

            for (var i = 0; i < connect.length; i++ ) {
                connect[i].classList.add(classes[i]);
            }

            var priceValues = [
                document.getElementById('p-value-lower'),
                document.getElementById('p-value-upper')
            ];

            pSlider.noUiSlider.on('update', function( values, handle ) {
                val = values[handle];

                priceValues[handle].innerHTML = '€ ' + thousandsDisplay(val);
            });
        }

        function initMap() {

            map = new google.maps.Map(document.getElementById('map-area'), {
                center: center,
                zoom: 13,
                gestureHandling: 'cooperative',
                scrollwheel: false
            });

            if (navigator.geolocation && stat == 0) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    center = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    if (center['lng'] > -10.738539 &&
                        center['lng'] < -5.930445 &&
                        center['lat'] > 51.387652 &&
                        center['lat'] < 55.445918) {
                        map.setCenter(center);
                        move = true;
                    }
                });
            }

            markerCluster = new MarkerClusterer(map, current_markers, {
            imagePath: '{% static "homepage/media/m" %}',
            zoomOnClick: false,
            url: "2",
            averageCenter: true
        });

        }

        window.onload = function(){

            lu = '{{ last_update }}';

            d = lu.slice(0,2);
            m = lu.slice(3,5);
            y = lu.slice(6,10);

            start_date = new Date(2010, 0).getTime();

            end_date = new Date(y, m).getTime();

            max_p = {{ max_price }};

            drawTimeSlider();
            drawPriceSlider();

            google.maps.event.addListenerOnce(map, 'idle', function () {
                ajax_update_stats(false);
                drawGraphs({{ hist_data }}, {{ scatter_data }}, {{ lobf_coef }});
            });

            google.maps.event.addListener(map, 'idle', function () {
                if (move == true) {
                    ajax_update_stats(false);
                }
            });

            google.maps.event.addListener(map, 'dragend', function () {
                ajax_update_markers();
            });

            setCookies();

            google.maps.event.addListener(map, 'zoom_changed', function () {
                ajax_update_markers();

                c = Cookies.get('zoom_warning');
                if (c == '0' || c == null) {
                    z = map.getZoom();
                    if (z < 13){

                        var ok = $('<button id="e-ok">Ok</button>'),
                            message = $('<p>Hi there! We love that you\'re exploring properties, but we recommend you don\'t zoom out much further. ' +
                            '<br/> <br/>Doing so will really slow down your experience! ' +
                            'We recommend using the search bar at the top of the page to find the local area you\'re looking for, ' +
                                'and then exploring the area around that!' +
                            '<br/> <br/>Thanks!</p>');

                        $('<div />').qtip({
                            content: {
                                text: message.add(ok),
                                title: null
                            },
                            position: {
                                my: 'center', at: 'center',
                                target: $(window)
                            },
                            show: {
                                ready: true,
                                modal: {
                                    on: true,
                                    blur: false
                                }
                            },
                            style: {
                                classes: 'diaglogue qtip-light qtip-rounded qtip-shadow',
                                width: 400
                            },
                            hide: false,
                            events: {
                                render: function(event, api) {
                                    $('button', api.elements.content).click(function(e) {
                                        api.hide(e);
                                    });
                                },
                                hide: function(event, api) {
                                    setcookie('zoom_warning', '1');
                                    while (current_iw.length > 0) {
                                        current_iw.pop().setMap(null);
                                    }

                                    api.destroy();
                                }
                            }
                        });
                    }
                }
            });
        }

    </script>

    <div id="map-area"></div>
    <div id="map-options">
        <div id="scale-wrap">
            <p>Jan-2010</p>
                <div id="color-scale"></div>
            <p id="end-date"></p>
        </div>
        <p>Show calculation area on map?</p>
        <input type='checkbox' title="showonmap" id="showzone"></input>
    </div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXosjHZchd8S-A7xEes69FhCX18rqJHUw&callback=initMap">
    </script>

{% endblock %}